<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div *ngIf="SetUpDetails!=null">
  <h2> Building Details: </h2>
  <div>
    {{SetUpDetails.BuildingDetails | json}}
  </div>
  <h2> Elevator Details: </h2>
  <div>
    {{SetUpDetails.ElevatorDetails | json}}
  </div>
<div>
<ul>
  <li *ngFor="let item of SetUpDetails.ElevatorDetails">    
     <div>
        <span>{{item|json}}</span>  
     </div>
     <div style="border:1px solid;background-color: #ccc;">
        <span>{{item.ShortName}} (Enter from available Floor List:)</span>  
        <input (change)="SetCurrentStatus(item);" type="text" [(ngModel)]="item.ElevatorRunningStatusInfo.CurrentFloorNumber"/>
        <span>IsMoving :</span>
        <input type="checkbox" [(ngModel)]="item.ElevatorRunningStatusInfo.IsMoving" />
        <span>IsInHoldState :</span>
        <input type="checkbox" [(ngModel)]="item.ElevatorRunningStatusInfo.IsInHoldState" />
      </div>
  </li>  
  <li>
      <div style="border:1px solid;background-color: #d4d4d4;margin:20px">
          <span>Requested From Floor Number:</span>  
          <input type="text" [(ngModel)]="SetUpDetails.RequestedFloorNumber"/>
      </div>
  </li>
  <li>
      <p>
          <button (click)="Submit();">Submit</button>
      </p>
      <p *ngIf="Result!=null">
            {{Result.ShortestPath | json}}
      </p>
  </li>
  
</ul>

